.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  text-decoration-line: none;
  &__first-word {
    color: Var(--main-blue);
  }
  &__second-word {
    color: Var(--second-black);
  }
  &__second-word--footer {
    color: var(--main-white);
  }
}
