body {
  font-family: "Roboto", sans-serif;
  color: var(--black-main);
  background-color: var(--main-white);
  position: relative;
}

.hidden-header {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.container {
  width: 1200px;
  padding-inline: 15px;
  margin: 0 auto;
}

.section {
  padding-block: 94px;
  margin: 0;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-block: 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 50px 0;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
